<h1>Kid show page</h1>

<p>Name   : <%= @kid.name %></p>
<p>Age    : <%= @kid.age %></p>
<p>Feeling: <%= @kid.feeling %></p>


  <h3>Candy Count: <%= @kid.candies.count %></h3>
  <% @kid.candies.each do |candy| %>
    <ul><li>Name: <%= candy.name %></li></ul>
  <% end %>

  <form action="/kids/<%= @kid.id %>/pig-out" method="POST">
    <input type="hidden" name="_method" value="patch">
    <input type="number" name="consumption" value="">
    <button type="submit" name="">Submit</button>
  </form>
