<h1>Name: <%= @kid.name %></h1>
<h2>Age: <%= @kid.age %></h2>

<h2>Candy Inventory</h2>
<h3>Candy Count: <%= @kid.bucket.candies.count %></h3>
<% if !@kid.bucket.candies.nil? %>
  <ul>
  <% @kid.bucket.candies.each do |candy| %>
      <li>Name: <%= candy.name %></li>
          <ul>
            <li>Size: <%= candy.size %></li>
            <li>Pieces: <%= candy.pieces %></li>
          </ul>
  <% end %>
  </ul>
<% end %>

<h1>Eat Candy!</h1>
<form action="/kids/<%= @kid.id %>/pig-out" method="POST">
  <label for="consumption">Amount</label>
  <input type="number" name="consumption">
  <input type="submit" value="Eat!">
</form>

<p>Feeling: <%= @kid.feeling %></p>

<a href="/houses"><button>Go Trick or Treating!</button></a>

