<h1><%= @house.address %></h1>

<ul>
  <% @house.unclaimed_candies.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>

<form action="/houses/<%= @house.id %>/trick-or-treat" method="post">
  <input type="hidden" name="_method" value="patch" />
  <select name="kid_id">
  <% Kid.all.each do |kid| %>
    <option value=<%= kid.id %> ><%= kid.name %></option>
  <% end %>
  </select>
  <input type="submit" value="Trick or Treat">
</form>

<a href="/houses/<%= @house.id %>/edit">Edit</a>