<h1>House Profile Page</h1>
<p><%= @house.address %></p>
<br>

<h3>Candy List</h3>
<ul>
<% @unclaimed_candies.each do |candy| %>
  <li><%= candy.name %></li>
<% end %>
</ul>
<br>

<h3>Select a your name and hit trick-or-treat to get some candy.</h3>
<form action="/houses/<%= @house.id %>/trick-or-treat" method="post">
  <select name="kid_id">
  <% @kids.each do |kid| %>
    <option value=<%= kid.id %> ><%= kid.name %></option>
  <% end %>
  </select>
  <input type="submit" value="Trick or Treat">
</form>

<br>
<br>
<br>    
<a href="/houses"><button>Back to House Index</button></a>